* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    overflow-x: hidden;
    font-size: 16px;
}

#cabecalho {
    width: 100%;
    padding: 0 100px;
    height: 400px;
    background-color: #1F214E;
    display: flex;
    align-items: center;
    justify-content: start;

}

#cabecalho .titulos {
    width: 80%;
}

#cabecalho .imagem {
    width: 20%;
}

#cabecalho .titulos h2 {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 500;
}

#cabecalho .titulos h1 {
    color: #ffffff;
    font-size: 4rem;
    font-weight: 600;
}

#cabecalho .imagem {
    position: absolute;
    display: none;
}

#cabecalho .imagem img {
    width: 1200px;
    z-index: 2;
    position: relative;
    left: 120%;
}

#main {
    padding: 0 100px;
    height: auto;
}

#main header {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: start;
}

#main header h1 {
    font-size: 2rem;
    color: #1F214E;
    font-weight: 600;
}

#main {
    width: 100%;
}

#main .card {
    width: 100%;
    height: 200px;
    border-radius: 20px;
    background-color: #F4F4F4;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 50px;
}

#main .card .img {
    width: 30%;
    height: 200px;
    border-radius: 20px 0 0 20px;

}

#main .card .img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}

#main .card .img {
    margin-right: 30px;
}

#main .card .informacoes .dados_receita .nome_receita {
    margin-bottom: 10px;
}

#main .card .informacoes .dados_receita .nome_receita h2 {
    font-size: 1.5rem;
    color: #1F214E;
    font-weight: 600;
}

#main .card .informacoes .dados_receita .quantidade h3 {
    font-size: 1rem;
    color: #A9A9AE;
    font-weight: 400;
}

#main .card .informacoes .tags {
    margin-top: 30px;
}

#main .card .informacoes .tags span {
    padding: 3px 20px;
    background-color: #1F214E;
    border-radius: 50px;
    color: #ffffff;
    font-size: 1rem;
}

@media (max-width: 768px) {
    body {
        font-size: 10px;
    }

    #main,
    #cabecalho {
        padding: 0 20px;
    }

    #cabecalho .titulos h1 {
        font-size: 2.5rem;
    }
}